@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

.header {
  color: white;
  position: relative;
}

.header .top {
  padding: 20px 20px 11px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 74px;
}

.Community .header * {
  color: black;
}

.Community .header .top {
  border-bottom: 1px solid #dfe7ef;
  gap: 8px;
}

.Community .header .top .Hamburger {
  filter: brightness(0%);
}

.header .navigation ul {
  display: flex;
  color: white;
  gap: 30px;
  list-style: none;
}

.header .middle {
  padding: 50px 67px 18px 67px;
}

.Community .header .middle {
  padding: 0px;
  display: flex;
}

.Community .header .middle .Navigation {
  padding: 16px 86px;
  border-bottom: 3px solid #dfe7ef;
}

.Community .header .middle .active {
  border-bottom: 3px solid black;
  border-radius: 1px;
}

.header .bottom {
  padding: 0px 67px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 50%,
    white 50%
  );
  background-repeat: no-repeat;
}

.searchbar {
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #86898b80;
}

.community-cards {
  padding: 24px 10px;
}

.community-cards .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  justify-content: space-between;
}

.community-cards .cards .card {
  width: 160px;
  box-shadow: 0px 3px 6px rgba(110, 116, 134, 0.24);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.community-cards .cards .card:hover {
  cursor: pointer;
  box-shadow: 0px 12px 18px rgba(110, 116, 134, 0.24);
  scale: 1.1;
}

.community-cards .cards .card .top {
  height: 100px;
  display: flex;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.community-cards .cards .card .bottom {
  padding: 15px;
  margin-top: 30px;
  text-align: center;
}

.community-cards .cards .card .card-icon {
  padding: 30px;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
}

.Forum{
  height: 100%;
  padding: 17px 49px;
  background-color: #8b8f936a;
}

@media (min-width: 568px) {
  .community-cards {
    padding: 24px 47px;
  }

  .community-cards .cards {
    justify-content: flex-start !important;
  }
}

@media (min-width: 768px) {
  .community-cards {
    padding: 24px 67px;
  }
}

@media (min-width: 1440px) {
  .community-cards {
    padding: 24px 67px;
  }
}
