@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

body {
  height: 100vh;
  background-color: #dfe7ef;
}

.main-header {
  color: white;
  position: relative;
  background-color: white;
}

.main-header .top {
  padding: 20px 20px 11px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 5%;
}

.Community .main-header * {
  color: black;
}

.Community .main-header .top {
  border-bottom: 1px solid #dfe7ef;
  gap: 8px;
}

.Community .main-header .top .Hamburger {
  filter: brightness(0%);
}

.main-header .navigation ul {
  display: flex;
  color: white;
  gap: 30px;
  list-style: none;
}

.main-header .middle {
  padding: 50px 67px 18px 67px;
}

.Community .main-header .middle {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.Community .main-header .middle .Navigation {
  padding: 21px 5%;
  border-bottom: 3px solid #dfe7ef;
}

.Community .main-header .middle .active {
  border-bottom: 3px solid black;
  border-radius: 1px;
}

.main-header .bottom {
  padding: 0px 67px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 50%,
    white 50%
  );
  background-repeat: no-repeat;
}

.searchbar {
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #86898b80;
}

.community-cards {
  padding: 24px 10px;
  background-color: white;
}

.community-cards .cards {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  justify-content: space-between;
}

.community-cards .cards .card {
  width: 160px;
  box-shadow: 0px 3px 6px rgba(110, 116, 134, 0.24);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.community-cards .cards .card:hover {
  cursor: pointer;
  box-shadow: 0px 12px 18px rgba(110, 116, 134, 0.24);
  scale: 1.1;
}

.community-cards .cards .card .top {
  height: 100px;
  display: flex;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.community-cards .cards .card .bottom {
  padding: 15px;
  margin-top: 30px;
  text-align: center;
}

.community-cards .cards .card .card-icon {
  padding: 30px;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
}

.button {
  background-color: #7b16ff;
  padding: 10px;
  border-radius: 100px;
  color: white;
  border: 0px solid;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Forum {
  height: 100%;
  padding: 17px 5%;
  gap: 15px;
  display: grid;
  position: relative;
}

.Forum .card {
  border-radius: 8px;
  background-color: white;
  padding: 16px;
}

.Forum .card .header {
  display: grid;
  grid-template-columns: auto 1fr 95%;
  gap: 8px;
}

.Forum .card .body {
  padding: 10px 5%;
}

.Forum .card .footer {
  padding: 10px 5%;
  display: flex;
  gap: 2%;
}

.Forum .card .footer .inner {
  display: flex;
}

.login-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.162);
}

.modalbutton {
  background-color: #7b16ff;
  padding: 20px 15px;
  border-radius: 20px;
  color: white;
  border: 0px solid;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  display: flex;
  gap: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.button:hover, .modalbutton:hover{
  background-color: #7b16ff7e;
  cursor: pointer;
}

.modal {
  position: fixed;
  background-color: rgba(36, 36, 36, 0.458);
  width: 100vw;
  height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .form-group {
  display: flex;
  flex-direction: column;
}

.modal .modal-content{
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  gap: 20px;
  display: grid;
}

.modal .modal-actions{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

@media (min-width: 568px) {
  .community-cards {
    padding: 24px 47px;
  }

  .community-cards .cards {
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }

  .Community .main-header .middle {
    padding: 0px;
    display: flex;
  }
}

@media (min-width: 768px) {
  .community-cards {
    padding: 24px 67px;
  }
}

@media (min-width: 1440px) {
  .community-cards {
    padding: 24px 67px;
  }
}
